<div class="row">
  <div class="col-xl-4 col-lg-6 col-xs-12">
    <panel>
      <panel-header>
        <h5>
          Gerenciamento de <span class="fw-semi-bold">Clientes</span>
        </h5>
      </panel-header>
      <panel-content>
        <p class="fs-mini text-muted">
          Área destinada ao gerenciamento de clientes.
        </p>
        <p>
          <button type="button" class="btn btn-info btn-block" [routerLink]="['/app/clients']">Abrir</button>
        </p>
      </panel-content>
    </panel>
  </div>
  <div class="col-xl-4 col-lg-6 col-xs-12">
    <panel>
      <panel-header>
        <h5>
          Gerenciamento de <span class="fw-semi-bold">Equipamentos</span>
        </h5>
      </panel-header>
      <panel-content>
        <p class="fs-mini text-muted">
          Área destinada ao gerenciamento de equipamentos.
        </p>
        <p>
          <button type="button" class="btn btn-info btn-block" [routerLink]="['/app/equipments']">Abrir</button>
        </p>
      </panel-content>
    </panel>
  </div>

  <div class="col-xl-4 col-lg-6 col-xs-12">
    <panel>
      <panel-header>
        <h5>
          Gerenciamento de <span class="fw-semi-bold">Usuários</span>
        </h5>
      </panel-header>
      <panel-content>
        <p class="fs-mini text-muted">
          Área destinada ao gerenciamento de usuários.
        </p>
        <p>
          <button type="button" class="btn btn-info btn-block" [routerLink]="['/app/users']">Abrir</button>
        </p>
      </panel-content>
    </panel>
  </div>
  <div class="col-xl-4 col-lg-6 col-xs-12">
    <panel>
      <panel-header>
        <h5>
          Gerenciamento de <span class="fw-semi-bold">Relatórios</span>
        </h5>
      </panel-header>
      <panel-content>
        <p class="fs-mini text-muted">
          Área destinada ao gerenciamento de relatórios.
        </p>
        <p>
          <button type="button" class="btn btn-info btn-block" [routerLink]="['/app/report']">Abrir</button>
        </p>
      </panel-content>
    </panel>
  </div>
</div>