/**
 * Bootstrap Colorpicker
 * setting correct urls
 */

.error {
    border-color: $brand-danger;
    @include box-shadow(inset 0 1px 1px rgba($brand-danger, .075));
}

.uppercase {
    text-transform: uppercase;
}

.btn-label {
    background: transparent;
    left: 2px;
    padding: 1px 6px;
}


/**
*  autosize
**/

.autogrow {
    overflow: hidden;
    resize: none;
}


/**
* datetime
**/

.input-group {
    width: auto;
    .input-group-addon {
        padding: .375rem .75rem .375rem .75rem;
    }
}