<section class="widget" widget *ngIf="data?.length" [@fadeInOut]>
  <header>
    <h4>Relação de Equipamentos</h4>
    <div class="widget-controls">
      <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
    </div>
  </header>
  <div class="widget-body">
    <div class="mt">
      <table class="table table-striped table-hover dt-responsive nowrap" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="code">Código</mfDefaultSorter>
            </th>
            <th class="hidden-sm-down">
              <mfDefaultSorter by="install.plaque">Placa</mfDefaultSorter>
            </th>
            <th class="hidden-xs-down">
              <mfDefaultSorter by="install.vehicleType">Veículo</mfDefaultSorter>
            </th>
            <th class="hidden-xs-down">
              <mfDefaultSorter by="type">Tipo</mfDefaultSorter>
            </th>
            <th class="hidden-xs-down">
              <mfDefaultSorter by="install.orientation">Orientação</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equip of mf.data">
            <td>{{equip.code}}</td>
            <td class="hidden-sm-down">{{equip.install.plaque}}</td>
            <td class="hidden-xs-down">
              {{vehicleTypes[equip.install.vehicleType]}}
            </td>
            <td class="hidden-xs-down">
              {{types[equip.type]}}
            </td>
            <td class="hidden-xs-down">
              {{orientations[equip.install.orientation]}}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
