// Configurações de impressão
@media print {
    body {
        font-size: 10px;
    }
    form,
    .map-wrapper,
    .widget-controls,
    .widget-controls {
        display: none;
    }
    .report-header * {
        display: block;
    }
}

// O que deve aparecer na tela
@media screen {
    .report-header,
    .hide-on-screen {
        display: none;
    }
}

.report {
    page-break-inside: avoid;
}

.error {
    border-color: $brand-danger;
    @include box-shadow(inset 0 1px 1px rgba($brand-danger, .075));
}

.map-container {
    height: 500px;
    pointer-events: fill;
}

.block {
    margin-bottom: 20px;
    border: 1px solid #BDBDBD;
}

.img-map {
    padding: 0;
}

.header {
    background-color: #BDBDBD;
    height: 30px;
    margin-bottom: 10px;
    header {
        color: #FFF;
        font-weight: bold;
        text-align: center;
    }
}