<panel widget [@fadeInOut]>
  <panel-header>
    <h5>{{title}}</h5>
  </panel-header>
  <panel-content>
    <div class="mt">
      <table class="table table-striped table-hover dt-responsive nowrap" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="code">Código</mfDefaultSorter>
            </th>
            <th class="hidden-xs-down">
              <mfDefaultSorter by="install.plaque">Placa</mfDefaultSorter>
            </th>
            <th class="hidden-md-down text-center">
              <mfDefaultSorter by="install.vehicleType">Veículo</mfDefaultSorter>
            </th>
            <th class="text-center">
              <mfDefaultSorter by="type">Tipo</mfDefaultSorter>
            </th>
            <th class="hidden-xs-down text-center">
              <mfDefaultSorter by="install.orientation">Orientação</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipment of mf.data">
            <td class="main-column">{{equipment.code}}</td>
            <td class="hidden-xs-down">
              <span class="badge badge-default">{{equipment.install.plaque}}</span>
            </td>
            <td class="hidden-xs-down text-center">
              {{equipmentTypes[equipment.type]}}
            </td>
            <td class="hidden-xs-down text-center">
              {{vehicleTypes[equipment.install.vehicleType]}}
            </td>
            <td class="hidden-xs-down text-center">
              {{orientations[equipment.install.orientation]}}
            </td>
          </tr>
          <tr *ngIf="mf.data.length === 0">
            <td colspan="100" class="text-center">
              Sem resultados
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </panel-content>
</panel>