* {
  background:transparent !important;
  color:#000 !important;
  text-shadow:none !important;
  filter:none !important;
  -ms-filter:none !important;
}

body {
  margin:0;
  padding:0;
  line-height: 1.4em;
}

@page {
  margin: 0.5cm;
}

img {
  max-width: 100%;
}

.wrap { 
  width: 100%; 
  margin: 0; 
  float: none !important; 
}