<section class="widget" widget [@fadeInOut]>
  <header>
    <h4>Lista de equipamentos</h4>
    <div class="widget-controls">
      <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
    </div>
  </header>
  <div class="widget-body">
    <div class="mt">
      <div class="width-200 pull-xs-right">
        <div class="input-group input-group-sm input-group-transparent input-group-rounded">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Pesquisar">
        </div>
      </div>
      <table class="table table-striped table-hover dt-responsive nowrap" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th>
            <mfDefaultSorter by="code">Código do equipamento</mfDefaultSorter>
          </th>
          <th class="hidden-md-down">
            <mfDefaultSorter by="install.client.companyName">Cliente</mfDefaultSorter>
          </th>
          <th class="hidden-xs-down">
            <mfDefaultSorter by="install.plaque">Placa</mfDefaultSorter>
          </th>
          <th class="hidden-xs-down">
            <mfDefaultSorter by="type">Tipo</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let equipment of mf.data | SearchPipe : searchText" (click)="selected($event, equipment)">
          <td>{{equipment.code}}</td>
          <td class="hidden-xs-down">
            <a [routerLink]="['/app/client/view/', equipment.install?.clientId]">
              {{equipment.install.client?.companyName}}
            </a>
          </td>
          <td class="hidden-xs-down">{{equipment.install.plaque}}</td>
          <td class="hidden-xs-down">
             <select class="form-control" name="equipment.type" validate="Tipo de equipamento" disabled>
                <option value="0">CXP</option>
                <option value="1">NZC</option>
                <option value="2">CENTRAL</option>
             </select>
          </td>
          <td>
            <button class="btn btn-xs mb-xs btn-danger" (click)="delete(equipment)">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="(mf.data | SearchPipe : searchText).length === 0">
          <td colspan="100">
            Sem resultados
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="12">
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>


