<section class="widget" widget>
  <header>
    <h4>Clientes</h4>
    <div class="widget-controls">
      <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
    </div>
  </header>
  <div class="widget-body">
    <div class="mt">
      <table class="table table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th>
            <mfDefaultSorter by="name">Nome Fantasia</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="email">E-mail</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="phone">Telefone</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of mf.data">
          <td>{{client.name}}</td>
          <td>{{client.email}}</td>
          <td>{{client.phone}}</td>
        </tr>
        <tr *ngIf="(mf.data).length === 0">
          <td colspan="100">
            Sem resultados
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="12">
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
