<div class="js-sidebar-content">
  <header class="logo hidden-sm-down">
    <a href="index.html">{{config.name}}</a>
  </header>
  <ul class="sidebar-nav">
    <li>
      <a [routerLink]="['dashboard'] ">
        <span class="icon"><i class="fa fa-child"></i></span>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a class="collapsed" data-target="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">
        <span class="icon">
          <i class="glyphicon glyphicon-align-right"></i>
        </span>
        <span>Clientes</span>
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul id="sidebar-forms" class="collapse">
        <li><a [routerLink]=" ['forms/validation'] ">Cadastro</a></li>
        <li><a [routerLink]=" ['forms/validation'] ">Pesquisar</a></li>
      </ul>
    </li>
  </ul>
</div>
