<div class="js-sidebar-content">
  <header class="logo hidden-sm-down">
    <a href="index.html">{{config.name}}</a>
  </header>
  <ul class="sidebar-nav">
    <li>
      <a class="collapsed" data-target="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">
        <span class="icon"><i class="fa fa-desktop"></i></span>
        <span>Dashboard</span>
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul id="sidebar-dashboard" class="collapse">
        <li><a [routerLink]=" ['dashboard'] ">Dashboard</a></li>
      </ul>
    </li>
    <li>
      <a class="collapsed" data-target="#sidebar-clients" data-toggle="collapse" data-parent="#sidebar">
        <span class="icon">
          <i class="glyphicon glyphicon-user"></i>
        </span>
        <span>Clientes</span>
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul id="sidebar-clients" class="collapse">
        <li><a [routerLink]="['client/register']">Cadastro</a></li>
      </ul>
    </li>
    <li>
      <a class="collapsed" data-target="#sidebar-equipment" data-toggle="collapse" data-parent="#sidebar">
        <span class="icon">
          <i class="glyphicon glyphicon-cog"></i>
        </span>
        <span>Equipamentos</span>
        <i class="toggle fa fa-angle-down"></i>
      </a>
      <ul id="sidebar-equipment" class="collapse">
        <li><a [routerLink]="['equipment/register']">Cadastro</a></li>
        <li><a [routerLink]="['equipment/search']">Pesquisa</a></li>
      </ul>
    </li>
  </ul>
</div>
