<panel widget [@fadeInOut]>
  <panel-header>
    <h5> {{title}}</h5>
  </panel-header>
  <panel-content>
    <div class="mt">

      <search-field (change)="searchText=$event"> </search-field>

      <table class="table table-striped table-hover dt-responsive nowrap" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th>
              <mfDefaultSorter by="name">Nome</mfDefaultSorter>
            </th>
            <th class="hidden-xs-down">
              <mfDefaultSorter by="email">E-mail</mfDefaultSorter>
            </th>
            <th class="text-center">
              <mfDefaultSorter by="isAdmin">Admin?</mfDefaultSorter>
            </th>
            <th class="hidden-xs-down" *ngIf="!readOnlyMode">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of mf.data | search : searchText" (click)="select(user)" [class.selected]="user===selectedUser">
            <td class="main-column">{{user.name}}</td>
            <td class="hidden-xs-down">{{user.email}}</td>
            <td class="text-center">
              <i *ngIf="user.isAdmin" class="fa fa-check-square" style="color:darkolivegreen;font-size: 1.7em;"></i>
              <i *ngIf="!user.isAdmin" class="fa fa-square-o" style="color:darkolivegreen;font-size: 1.7em;"></i>
            </td>
            <td class="hidden-xs-down text-center" *ngIf="!readOnlyMode">
              <btn-delete (click)="delete(user)"></btn-delete>
            </td>
          </tr>
          <tr *ngIf="(mf.data | search : searchText).length === 0">
            <td colspan="100">
              Sem resultados
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="12">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </panel-content>
</panel>