/**
* Só consegui fazer funcionar para impressão com esse monte de "!important"
* não me julgue.
**/
* {-webkit-print-color-adjust:exact!important;}

@media screen {
  body {
    padding: 5%;
  }
}

@page {
  size: A4!important;
}

body {
  font-size: 13px!important;
  line-height: 15px!important;
  margin: 1cm!important;
}

table {
  page-break-inside:auto!important;
  table-layout: fixed!important;
  word-wrap: break-word!important;
}
tr {
  page-break-inside:avoid!important;
  page-break-after:auto!important;
}
thead { display:table-header-group!important; }
tfoot { display:table-footer-group!important; }

h1 {
  font-weight: bold!important;
  font-size: 15px!important;
  line-height: 16px!important;
}

h2 {
  font-weight: bold!important;
  font-size: 13px!important;
  line-height: 15px!important;
}

th h1, td h2 {
  margin: 0!important;
}

.table-bordered>thead>tr>th {
  border-style: solid!important;
  border-width: medium!important;
}

.table>thead:first-child>tr:first-child>th {
  border-top-color: rgb(221, 221, 221)!important;
}

.title {
  padding-left: 100px!important;
}

.table-bordered>tbody>tr>td {
  border-right: 0!important;
  border-left: 0!important;
}

#imprudencias {
  padding: 25px 40px!important;
}

.table-bordered>tbody>tr>td.corte {
  margin: 0!important;
  border-bottom: 3px dashed black!important;
  border-top: 0!important;
  border-left: 0!important;
  border-right: 0!important;
}

.pagebreak {
  page-break-before: always;
  margin-top: 1cm!important;
}