<header>
  <h3>Redefinir senha</h3>
  <small>Informe o email cadastrado e enviaremos um email com o link para alteração de senha.</small>
</header>
<div class="widget-body">
  <div class="auth-form mt-lg">
    <form>
      <div class="form-group">
        <input type="text" class="form-control" name="text" type="mail" placeholder="E-mail" [(ngModel)]="email" required="required">
      </div>
      <div class="alert alert-danger fade in" role="alert" style="display: none">
        <strong>ERRO!</strong> {{errorMsg}}.
      </div>
      <div class="clearfix">
        <a class="pull-xs-left btn-login" [routerLink]="['/auth']">Login</a>
        <button type="button" class="btn btn-inverse pull-xs-right" (click)="sendEmail()">Enviar</button>
      </div>
    </form>
  </div>
</div>