<ol class="breadcrumb">
  <li class="breadcrumb-item">Clientes</li>
  <li class="breadcrumb-item active">Visualizar</li>
</ol>
<div class="row" *ngIf="client">
  <div class="col-xs-12">
    <section class="widget" widget>
      <header>
        <h5>
          <span>Exibindo {{client.companyName}}</span>
        </h5>
        <div class="widget-controls">
          <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
      </header>
      <div class="widget-body">
        <client-form [client]="client" [readOnlyMode]="true">
        </client-form>
      </div>
    </section>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <equipment-grid *ngIf="client" [data]="client.equipments" [readOnlyMode]="true">
    </equipment-grid>
  </div>
</div>