<section class="widget" widget>
  <header>
    <h4>Lista de clientes</h4>
    <div class="widget-controls">
      <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
      <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
    </div>
  </header>
  <div class="widget-body">
    <div class="mt">
      <div class="width-200 pull-xs-right">
        <div class="input-group input-group-sm input-group-transparent input-group-rounded">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
          <input class="form-control form-control-sm" id="table-search-input" [(ngModel)]="searchText" type="text" placeholder="Pesquisar">
        </div>
      </div>
      <table class="table table-striped table-hover dt-responsive nowrap" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th>
            <mfDefaultSorter by="companyName">Nome Fantasia</mfDefaultSorter>
          </th>
          <th class="hidden-sm-down">
            <mfDefaultSorter by="cnpj">CNPJ</mfDefaultSorter>
          </th>
          <th class="hidden-xs-down">
            <mfDefaultSorter by="contact.responsible">Responsável</mfDefaultSorter>
          </th>
          <th class="hidden-xs-down">
            <mfDefaultSorter by="contact.email">E-mail</mfDefaultSorter>
          </th>
          <th class="hidden-xs-down">
            <mfDefaultSorter by="contact.phone">Telefone</mfDefaultSorter>
          </th>
          <th style="text-align: center">
            <mfDefaultSorter by="equipments.length">Qtde Eqipamentos</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of mf.data | SearchPipe : searchText" (click)="selected($event, client)">
          <td>{{client.companyName}}</td>
          <td class="hidden-sm-down">{{client.cnpj}}</td>
          <td class="hidden-xs-down">{{client.contact.responsible}}</td>
          <td class="hidden-xs-down">{{client.contact.email}}</td>
          <td class="hidden-xs-down">{{client.contact.phone}}</td>
          <td align="center">{{client.equipments.length}}</td>
        </tr>
        <tr *ngIf="(mf.data | SearchPipe : searchText).length === 0 && dataLoaded">
          <td colspan="100">
            Sem resultados
          </td>
        </tr>
        <tr *ngIf="!dataLoaded">
          <td colspan="100">
            Carregando...
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="12">
            <mfBootstrapPaginator></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>

<div id="equipment-list">
  <equipment-table [data]="equips"></equipment-table>
</div>
